@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');
@import 'tailwindcss';


body {
  color: #94a3b8;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 700;
}
